* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
}

.bg {
    margin: 10px 20px;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60%;
    border-radius: 30px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.button {
    width: 60px;
    height: 60px;
    margin-top: 6px;
    padding: 8px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: 28px;
}

.count {
    width: 150px;
    height: 45px;
    margin: 5px;
    padding-top: 2px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.score {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 153, 135);
    border: 3px solid black;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.ground {
    position: relative;
    height: 60%;
    padding-top: 40px;
}

img {
    position: absolute;
    top: 40px;
    left: 0;
}

.alert {
    display: none;
    position: absolute;
    transform: translate(60%, 50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    border-radius: 10px;
    font-size: 36px;
    width: 45%;
    margin: auto;
    color: white;
}

.alert__icon {
    background-color: blanchedalmond;
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    text-align: center;
    margin: auto;
}

.alert__message {
    text-align: center;
}