body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.678);
}

.horizontal {
  width: 100%;
  height: 0.5px;
}

.vertical {
  height: 100%;
  width: 0.5px;
}

.target {
  position: absolute;
  width: 60px;
}

.coordinates {
  position: absolute;
  width: 400px;
  margin: 15px;
  color: white;
  font-size: 20px;
}